$color-clear: clear;
$background-color-light: darken(white, 3%);
$background-color-dark: #0b132b;
$background-color-black: #000000;
$border-ash: 1px solid rgba(255, 255, 255, 0.25);
$text-ash: #ffffff80;
$hover-text-color: #eee;
$pink: #e6007a;
$button-hover-color: #00ffe1;
$paragraph-text: #ddd;
$white: #ffffff;
